table, th, td{
    border:1px solid black;
    border-collapse:collapse;
}
.mydiv{
    border:5px outset green;
    background-color:lightblue;
}
video{
    width: 300px;
    height:200px;
}